
.cuadrado{
    margin-top: 3%;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
    height: 380px;
    background: #00000000;
    position: absolute;
    text-align: center;
   
}
.circulo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top:13px;
    background: white;
    background-size:contain;
    border: 2px solid rgb(179, 170, 170);
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.mitad1{
    width: 100%;
    height: 150px;
    position: absolute;
    border-radius: 25px;
}
.mitad2{
    top:90px;
    width: 100%;
    height: 340px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px rgba(58, 56, 56, 0.5);
    background: white;
}
.dentro{
    width: 90%;
    transform: translate(5%);
    margin-top: 90px;
}

.user{
    display: flex;
}

.contraseña{
    display: flex;
}

.logo_jesus{
    width: 50px;
    height: 50px;
    background-image: url(../images/trans.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
.logo_principal{
    background-image: url(../images/alma.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
   
}
.logo_jesus2{
    border-radius: 50%;
    background-image: url(../images/logo.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 40px;
}
.titulo{
    color: white;
    padding-left: 10px;
}









